
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #333;
    margin: 0;
}

h2 {
    border-radius: 8px;
    color: #333;
    margin: 0;
    font-size: small;
}

select {
    margin-top: 20px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
}

.outermost {
    flex: 0 1 auto;
    text-align: left;
    flex-shrink: 0;
}

.explaination {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    flex-grow: 1;
    margin: 0 20px;
    text-align: center;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 8px;
}

.inner {
    padding: 10px 20px;
    flex: 1;
    text-align: center;
}

.status-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
}
.icon {
    font-size: 1.5em;
    padding: 6px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
}
.green {
    background-color: rgba(0, 255, 0, 0.5);
}



@media (max-width: 600px) {
    .header {
        text-align: center;
        flex-direction: column;
        align-items: center;
        /* gap: 16px; */
        padding: 10px;
    }
    .outermost,
    .explaination,
    #fileDropdown {
        width: 100%;
        text-align: center;
    }

    #fileDropdown {
        margin: 16px 0;
        display: block;
        width: 80%; 
    }

    .inner-container {
        flex-direction: column;
        gap: 12px;
    }

    .status-item {
        justify-content: center;
        width: 100%;
    }    
}











